@media only screen and (max-width: 600px) {
	h1 {
		font-size: 16px;
		font-weight: 700;
	}

	h3 {
		font-size: 15px;
		font-weight: 300;
	}
	p {
		font-size: 14px;
	}
	#navbar-nav {
		display: none;
		ul {
			width: 23%;
			margin-right: auto;
			flex-direction: column;
		}
	}
	.navbar-nav,
	nav {
		li {
			width: 100%;
			display: block;
			a {
				text-align: center;
			}
		}
	}

	.burger-menu {
		display: block;
	}

	.my-btn {
		width: 60%;
		margin-top: 15px;
		a {
			display: block;
			width: 100%;
			text-align: center;
		}
	}

	.header {
		a {
			font-size: 14px;
		}
	}
	.social-media {
		height: 60px;
		line-height: 60px;
	}
}
